#section-0
  = render 'knq_invite'
  = render 'hero_photo'
  = render 'wedding_details'
= render 'link_to_rsvp_section'
#section-1.section-odd.row
  = render 'our_story'
#section-2.row
  = render 'photos'
#section-3.section-odd
  = render 'groomsmen'
#section-4
  = render 'bridesmaids'
#section-5.section-odd
  = render 'gift'
#section-6.js-form
  = render 'rsvp'
  = render 'contact'
  = render 'map'
