= render 'pic_nav_links'

- @pictures.each_with_index do |picture_group, index|
  - if category = picture_group.first.category
    %div{id: "#section-#{index}", class: "row #{index.even? ? 'section-even' : 'section-odd'}"}
      .section-title-container
        %h4.section-title= category.humanize
        %span.hearts
      .small-12.columns.margin-bottom-10
        %ul.clearing-thumbs{"data-clearing" => ""}
          - picture_group.each do |picture|
            %li
              %a{href: picture.photo.url(:large)}
                = image_tag picture.photo.url(:medium_square), class: 'bw-photo'
                -# %span.overlay-label
      %p.button.transparent-button.round.small
        = link_to "View All #{category.humanize} Photos", pictures_category_path(category)

