!!!
/[if IE 8] <html class="no-js lt-ie9" lang="en">
<!--[if gt IE 8]><!-->
%html{class: 'no-js', lang: 'en'}<>
  <!--<![endif]-->
  %head
    %meta{charset: "utf-8"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}/
    %title= content_for?(:title) ? yield(:title) : 'Katherine and Quintin'
    %meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : 'Katherine and Quintin Wedding Website'}"}/
    %meta{content: "6G1d2CBumtaZk1hnKSA-XuFpSDHbDJsH5C4zfReZcvg", name: "google-site-verification"}/
    /[if lt IE 9]
      = stylesheet_link_tag "ie8", media: "all"
      = javascript_include_tag 'custom.modernizr'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag('xray') if Rails.env.development?
    = csrf_meta_tags
  %body
    = render 'layouts/mobile_navigation'
    .row.collapse{role: "main"}
      %aside.large-3.columns.hide-for-medium-down
        = render 'layouts/navigation'
      #main.large-9.columns
        = render 'layouts/messages'
        = yield
        %footer.section-odd
          = render 'layouts/footer'
